@using Company.Route.PL.ViewModels
@model IEnumerable<EmployeeViewModel>



@{
    ViewData["Title"] = "Index";
}

<h1>All Employees</h1>
<br />
<br />


<form asp-action="Index">
    <div class="row m-5">
        <div class="col-8">
            <input type="text" name="WordSearch" id="WordSearch" placeholder="Seach By Name..." class="form-control" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search"  class="btn btn-success" />
        </div>
    </div>

</form>

<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Create Employee</a>

<br />
<br />
@* <div class="alert alert-success">
    <p>@ViewData["MessageD"]</p>
</div>

<div class="alert alert-success">
    <p>@ViewBag.MessageB</p>
</div> *@

@if(!string.IsNullOrEmpty(@TempData["Message"] as string))
{
    <div class="alert alert-success">
        <p>@TempData["Message"]</p>
    </div>

}

@if(Model.Count() > 0 )
{
    <br />
    <table class="table table-striped table-hover">
        <thead>
        <th>@Html.DisplayNameFor(D => D.Image)</th>
        <th>@Html.DisplayNameFor(D => D.Name)</th>
        <th>@Html.DisplayNameFor(D => D.Age)</th>
        <th>@Html.DisplayNameFor(D => D.Address)</th>
        <th>@Html.DisplayNameFor(D => D.Email)</th>
        <th>@Html.DisplayNameFor(D => D.PhoneNumber)</th>
        <th>@Html.DisplayNameFor(D => D.WorkFor)</th>
        <th>@Html.DisplayNameFor(D => D.Salary)</th>
        <th>@Html.DisplayNameFor(D => D.isActive)</th>
        <th>@Html.DisplayNameFor(D => D.HiringDate)</th>
        <th>@Html.DisplayNameFor(D => D.DateOfCreation)</th>
        <th>@Html.DisplayNameFor(D => D.isDeleted)</th>
        <th>Details</th>
        <th>Update</th>
        <th>Delete</th>
        </thead>

        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>
                        <img src="~/Media/images/@employee.imageName" width="75" class="img-fluid rounded-circle"  />
                    </td>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>@employee.Address</td>
                    <td>@Html.DisplayFor(M => employee.Email)</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@employee.WorkFor?.Name</td>
                    <td>@Html.DisplayFor(M => employee.Salary)</td>
                    <td>@Html.DisplayFor(M => employee.isActive)</td>
                    <td>@employee.HiringDate</td>
                    <td>@employee.DateOfCreation</td>
                    <td>@employee.isDeleted</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@employee.Id" class="btn btn-warning">Details</a>
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@employee.Id" class="btn btn-success">Update</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <div class="alert alert-danger">
        <h3>
            There are no Employees!
        </h3>
    </div>
}


